**/target/
**/nbproject/
**/.settings/
**/.classpath/
**/.project/
**/.sonar/
**/.DS_Store/
**/.idea/
**/.gradle/
**/build/

**/nb-configuration.xml
**/dependency-reduced-pom.xml
**/sonar-project.properties
**/settings.properties

*~
*.iml
*.iws
*.xml.versionsBackup

application.properties
application.yml
setup_user.sql
